<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<string>Favorites</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Desktop</string>
				<key>dir</key>
				<string>~/Desktop</string>
				<key>icon</key>
				<string>Desktop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>User</string>
				<key>dir</key>
				<string>~</string>
				<key>icon</key>
				<string>User</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Applications</string>
				<key>dir</key>
				<string>~/Applications</string>
				<key>icon</key>
				<string>Applications</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Downloads</string>
				<key>dir</key>
				<string>~/Downloads</string>
				<key>icon</key>
				<string>Downloads</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Documents</string>
				<key>dir</key>
				<string>~/Documents</string>
				<key>icon</key>
				<string>Documents</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Music</string>
				<key>dir</key>
				<string>~/Music</string>
				<key>icon</key>
				<string>Music</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Movies</string>
				<key>dir</key>
				<string>~/Movies</string>
				<key>icon</key>
				<string>Movies</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Pictures</string>
				<key>dir</key>
				<string>~/Pictures</string>
				<key>icon</key>
				<string>Pictures</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>list</key>
		<string>Files</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Documents</string>
				<key>dir</key>
				<string>showDocs</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Pictures</string>
				<key>dir</key>
				<string>showPics</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Music</string>
				<key>dir</key>
				<string>showMusic</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Video</string>
				<key>dir</key>
				<string>showVideo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Other</string>
				<key>dir</key>
				<string>showOther</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
